alias ..="cd .."
alias ...="cd ../.."

alias h='cd ~'
alias c='clear'

if command -v exa > /dev/null; then
  alias ls='exa'
  alias ll='exa -alh'
  alias tree='exa --tree'
else
  alias ll='ls -alF'
fi

if command -v bat > /dev/null; then
  alias cat='bat'
elif command -v batcat > /dev/null; then
  alias cat='batcat'
fi

if command -v z > /dev/null; then
  alias cd='z'
  alias zz='z -'
fi

alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias zsh-git-hide='git config oh-my-zsh.hide-info 1'
alias zsh-git-show='git config oh-my-zsh.hide-info 0'

alias zsh-git-ghide='git config oh-my-zsh.hide-info 1 --global'
alias zsh-git-gshow='git config oh-my-zsh.hide-info 0 --global'

alias wttr="clear && curl 'https://wttr.in/3805+Australia?2'"
