function toast_notification() {
    local message="$1"
    local duration="$2"

    # Save cursor position
    tput sc

    # Calculate starting position to center the message
    local start_pos=$(( ($(tput cols) - ${#message} - 4) / 2 ))

    # Move cursor to last line
    tput cup 0 $start_pos
    # Print notification
    local full_message="✨ $message ✨"
    printf "%s" "$full_message"

    # Restore cursor position
    tput rc

    # Wait for the duration
    sleep $duration

    # Restore original line
    tput sc
    tput cup 0 $start_pos
    tput setaf 14 # Set cyan color
    local full_message_length=$(echo -n "$full_message" | wc -c)
    printf '─%.0s' $(seq 1 $full_message_length)
    tput sgr0 # Reset color
    tput rc
}

function start_agent {
    echo "Initializing new SSH agent..."
    # spawn ssh-agent
    /usr/bin/ssh-agent | sed 's/^echo/#echo/' > ${SSH_ENV}
    echo succeeded
    chmod 600 ${SSH_ENV}
    . ${SSH_ENV} > /dev/null
    /usr/bin/ssh-add
}
